

 .scroll-pane {
    -fx-background-color: black;
    background-color:black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
    background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    background-color: transparent;
    border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    background-color: transparent;
    border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    background-color: white;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
    background-color: black;
}
.column_sd{
     -fx-background-color: linear-gradient( to left top,#100c27 25%,  #2C3E50 100%);
     background-color: linear-gradient( to left top,#0D324D 25%,  #7F5A83 100%);}

.scrollpane .content{
    -fx-background-color: #444444;
    background-color: #444444;
}
 .scrollpane .viewport {
   -fx-background-color: transparent;
   background-color: transparent;
}